.icon {
  position: relative;
  width: 34px;
  height: 34px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-container {
  border-radius: var(--br-7xs);
  background-color: var(--orange-95);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm);
  z-index: 0;
}
.your-creative-potential {
  color: #1a1a1a;
}
.heading {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  z-index: 1;
}
.abstract-line-icon {
  position: absolute;
  margin: 0 !important;
  top: -30px;
  left: -24px;
  width: 39px;
  height: 43px;
  z-index: 2;
}
.sub-container {
  border-radius: 11px;
  background-color: var(--white-99);
  border: 1px solid var(--white-95);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-11xl) var(--padding-sm)
    var(--padding-xl);
  position: relative;
  gap: var(--gap-3xs);
}
.heading1,
.paragraph {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.heading1 {
  font-weight: 500;
}
.paragraph {
  font-size: var(--font-size-lg);
}
.container,
.text-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text-container {
  gap: var(--gap-3xs);
  font-size: 38px;
  color: var(--grey-15);
}
.container {
  gap: var(--gap-xl);
}
.text {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.button {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkorange);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-5xl);
}
.text1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.button1 {
  border-radius: var(--br-5xs);
  background-color: var(--absolute-white);
  border: 1px solid var(--white-95);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-5xl);
  color: var(--grey-15);
}
.buttons-container,
.hero-section {
  display: flex;
  justify-content: flex-start;
}
.buttons-container {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-lg);
  color: var(--absolute-white);
}
.hero-section {
  position: absolute;
  top: 274px;
  left: 479px;
  width: 965px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  text-align: center;
  color: var(--color-darkorange);
}
.icon1 {
  position: relative;
  width: 44px;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
}
.button2,
.container1 {
  display: flex;
  flex-direction: row;
}
.button2 {
  border-radius: 68px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 6px solid rgba(255, 255, 255, 0.3);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm);
}
.container1 {
  position: absolute;
  top: 949px;
  left: calc(50% - 814px);
  border-radius: var(--br-xs);
  width: 1628px;
  height: 822px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-81xl);
  box-sizing: border-box;
  background-image: url(./public/container@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.icon2 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.logo-icon,
.top-banner {
  border-radius: var(--br-5xs);
}
.top-banner {
  align-self: stretch;
  background-color: var(--color-darkorange);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) 0;
  gap: 23px;
}
.logo-icon {
  position: relative;
  width: 54px;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
}
.text-button {
  position: relative;
  line-height: 150%;
}
.button3,
.buttons-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.button3 {
  border-radius: var(--br-5xs);
  background-color: var(--white-95);
  padding: var(--padding-sm) var(--padding-5xl);
}
.buttons-container1 {
  gap: 26px;
}
.container2 {
  display: flex;
  align-items: center;
  gap: var(--gap-31xl);
}
.button4,
.buttons-container2,
.container2 {
  flex-direction: row;
  justify-content: flex-start;
}
.button4 {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkorange);
  display: flex;
  align-items: center;
  padding: var(--padding-sm) 34px;
  color: var(--absolute-white);
}
.buttons-container2 {
  gap: var(--gap-11xl);
}
.buttons-container2,
.header,
.navbar {
  display: flex;
  align-items: center;
}
.navbar {
  align-self: stretch;
  border-bottom: 1px solid var(--white-95);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-xl) 132px var(--padding-5xl);
  color: var(--grey-15);
}
.header {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 1860px;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--font-size-lg);
  color: var(--absolute-white);
}
.logo-icon1 {
  position: relative;
  width: 68px;
  height: 34px;
  overflow: hidden;
  flex-shrink: 0;
}
.card {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-21xl);
}
.line {
  align-self: stretch;
  position: relative;
  border-right: 1px solid var(--white-95);
  box-sizing: border-box;
  width: 1px;
}
.logo-icon2 {
  position: relative;
  width: 99.17px;
  height: 34px;
  overflow: hidden;
  flex-shrink: 0;
}
.logo-icon3,
.logo-icon4,
.logo-icon5,
.logo-icon6,
.logo-icon7 {
  position: relative;
  width: 69.42px;
  height: 34px;
  overflow: hidden;
  flex-shrink: 0;
}
.logo-icon4,
.logo-icon5,
.logo-icon6,
.logo-icon7 {
  width: 77.92px;
}
.logo-icon5,
.logo-icon6,
.logo-icon7 {
  width: 94.21px;
}
.logo-icon6,
.logo-icon7 {
  width: 91.38px;
}
.logo-icon7 {
  width: 78.63px;
}
.container3 {
  position: absolute;
  top: 711px;
  left: 163px;
  border-radius: var(--br-xs);
  background-color: var(--white-99);
  border: 1px solid var(--white-95);
  box-sizing: border-box;
  width: 1595px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl);
}
.heading2,
.paragraph1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.heading2 {
  font-weight: 600;
}
.paragraph1 {
  font-size: var(--font-size-lg);
  color: var(--grey-35);
}
.text-container1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.button5,
.container4 {
  display: flex;
  flex-direction: row;
}
.button5 {
  border-radius: var(--br-5xs);
  background-color: var(--white-99);
  border: 1px solid var(--white-95);
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-5xl);
  text-align: center;
  font-size: var(--font-size-lg);
}
.container4 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-281xl);
}
.heading3,
.number,
.paragraph2 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.heading3,
.paragraph2 {
  line-height: 150%;
}
.heading3 {
  letter-spacing: -0.01em;
  font-weight: 600;
}
.paragraph2 {
  font-size: var(--font-size-lg);
  color: var(--grey-30);
}
.text-container2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--grey-20);
}
.button6 {
  border-radius: var(--br-5xs);
  background-color: var(--white-99);
  border: 1px solid var(--white-95);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl);
}
.card7,
.items-container {
  display: flex;
  justify-content: flex-start;
}
.card7 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--absolute-white);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-31xl);
  gap: var(--gap-31xl);
}
.items-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.benefits-section,
.container5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container5 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-xl);
  text-align: right;
  font-size: var(--font-size-61xl);
}
.benefits-section {
  position: absolute;
  top: 1905px;
  left: 161px;
  width: 1597px;
  align-items: flex-end;
  gap: var(--gap-61xl);
}
.image-icon {
  align-self: stretch;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  height: 380px;
  flex-shrink: 0;
  object-fit: cover;
}
.image-icon,
.text7 {
  position: relative;
}
.container10,
.sub-container2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container10 {
  border-radius: var(--br-5xs);
  background-color: var(--absolute-white);
  border: 1px solid var(--white-95);
  padding: var(--padding-3xs) var(--padding-base);
}
.sub-container2 {
  gap: var(--gap-3xs);
}
.name {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--grey-15);
}
.container9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.text-container9 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  font-size: var(--font-size-5xl);
  color: var(--grey-15);
}
.button13,
.container8,
.text-container9 {
  align-self: stretch;
  display: flex;
}
.container8 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.button13 {
  border-radius: var(--br-5xs);
  background-color: var(--white-97);
  border: 1px solid var(--white-95);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-5xl);
  text-align: center;
  color: var(--grey-15);
}
.card13,
.card14,
.items-container2 {
  display: flex;
  align-items: flex-start;
}
.card13 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--absolute-white);
  border: 1px solid var(--white-95);
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-31xl);
}
.card14,
.items-container2 {
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.card14 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--absolute-white);
  border: 1px solid var(--white-95);
  flex-direction: column;
  padding: var(--padding-31xl);
}
.items-container2 {
  align-self: stretch;
  flex-direction: row;
}
.container7,
.our-courses-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container7 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-lg);
  color: var(--grey-30);
}
.our-courses-section {
  position: absolute;
  top: 3147px;
  left: 161px;
  width: 1597px;
  align-items: flex-end;
  gap: var(--gap-61xl);
}
.paragraph16 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.container34 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-31xl);
}
.line6 {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--white-95);
  box-sizing: border-box;
  height: 1px;
}
.image-icon6 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.name6 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.sub-container13 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.button20,
.container35,
.sub-container13 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button20 {
  border-radius: var(--br-5xs);
  background-color: var(--white-97);
  border: 1px solid var(--white-95);
  justify-content: center;
  padding: var(--padding-lg) var(--padding-5xl);
  text-align: center;
  color: var(--grey-15);
}
.container35 {
  align-self: stretch;
  background-color: var(--white-99);
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-31xl);
  color: var(--grey-20);
}
.card19,
.testimonials-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card19 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--absolute-white);
  border: 1px solid var(--white-95);
  overflow: hidden;
  align-items: center;
}
.testimonials-section {
  position: absolute;
  top: 5948px;
  left: 161px;
  width: 1597px;
  align-items: flex-end;
  gap: var(--gap-61xl);
}
.button-active,
.button24,
.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-11xl);
}
.button-active {
  border-radius: var(--br-7xs);
  background-color: var(--color-darkorange);
}
.button24,
.tabs {
  border-radius: var(--br-81xl);
  color: var(--grey-30);
}
.tabs {
  border-radius: var(--br-5xs);
  background-color: var(--absolute-white);
  justify-content: flex-start;
  padding: var(--padding-xs);
  font-size: var(--font-size-lg);
  color: var(--absolute-white);
}
.heading18 {
  position: relative;
  line-height: 169%;
  font-weight: 500;
}
.container44 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--orange-97);
  border: 1px solid var(--orange-90);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-3xl);
}
.number6,
.text32 {
  position: relative;
  line-height: 73%;
  font-weight: 600;
}
.text32 {
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--grey-30);
}
.text-container17 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--font-size-61xl);
}
.icon9 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.feature-item,
.icon-container1,
.icon-container6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.icon-container1 {
  border-radius: var(--br-7xs);
  background-color: var(--orange-95);
  align-items: flex-start;
  padding: var(--padding-7xs);
}
.feature-item,
.icon-container6 {
  border: 1px solid var(--white-95);
}
.feature-item {
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  padding: var(--padding-sm);
  gap: var(--gap-xs);
}
.icon-container6 {
  border-radius: var(--br-7xs);
  align-items: flex-start;
  padding: var(--padding-7xs);
}
.items-container7,
.sub-container17 {
  flex-direction: column;
  justify-content: flex-start;
}
.items-container7 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: 0 var(--padding-11xl);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--grey-30);
}
.sub-container17 {
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--absolute-white);
  border: 1px solid var(--white-95);
  align-items: center;
  padding: var(--padding-21xl);
  gap: var(--gap-11xl);
}
.button25,
.container45,
.sub-container17 {
  align-self: stretch;
  display: flex;
}
.button25 {
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--color-darkorange);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-5xl);
  font-size: var(--font-size-lg);
  color: var(--absolute-white);
}
.container45 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-xl);
}
.card23,
.feature-item8 {
  border: 1px solid var(--white-95);
}
.card23 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--white-99);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-11xl) var(--padding-11xl);
  gap: var(--gap-31xl);
}
.feature-item8 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-sm);
  gap: var(--gap-xs);
}
.container43,
.feature-item8,
.pricing-section {
  display: flex;
  justify-content: flex-start;
}
.container43 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--absolute-white);
  flex-direction: row;
  align-items: flex-start;
  padding: 80px;
  gap: var(--gap-11xl);
  font-size: var(--font-size-3xl);
}
.pricing-section {
  position: absolute;
  top: 6966px;
  left: 161px;
  width: 1597px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-61xl);
}
.heading22,
.text50 {
  align-self: stretch;
  position: relative;
}
.heading22 {
  line-height: 120%;
  font-weight: 600;
}
.text50 {
  font-size: var(--font-size-lg);
  line-height: 150%;
  color: var(--grey-20);
}
.text-container19 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.button27 {
  border-radius: var(--br-5xs);
  background-color: var(--absolute-white);
  border: 1px solid var(--white-95);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-5xl);
  text-align: center;
  font-size: var(--font-size-lg);
}
.container48 {
  width: 408px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.heading23 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.icon23 {
  position: relative;
  width: 28px;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
}
.button28,
.container49 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button28 {
  border-radius: var(--br-5xs);
  background-color: var(--orange-95);
  align-items: flex-start;
  padding: var(--padding-xs);
}
.container49 {
  align-self: stretch;
  border-bottom: 1px solid var(--white-95);
  align-items: center;
  padding: 0 0 var(--padding-5xl);
  gap: var(--gap-11xl);
  font-size: var(--font-size-xl);
}
.paragraph21 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 150%;
  color: var(--grey-30);
}
.button29 {
  border-radius: var(--br-81xl);
  background-color: var(--absolute-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm);
}
.card25,
.sub-container19 {
  align-self: stretch;
  border: 1px solid var(--white-95);
}
.sub-container19 {
  border-radius: var(--br-5xs);
  background-color: var(--white-97);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-11xl);
  color: var(--grey-20);
}
.card25 {
  border-radius: var(--br-xs);
  background-color: var(--absolute-white);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-31xl);
  gap: var(--gap-31xl);
  font-size: var(--font-size-lg);
}
.card25,
.card26,
.items-container9 {
  display: flex;
  justify-content: flex-start;
}
.card26 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--absolute-white);
  border: 1px solid var(--white-95);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-11xl) var(--padding-31xl);
  gap: var(--gap-31xl);
}
.items-container9 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-xl);
}
.button34,
.faq-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.faq-section {
  position: absolute;
  top: 8534px;
  left: calc(50% - 797px);
  border-radius: var(--br-xs);
  background-color: var(--absolute-white);
  width: 1595px;
  align-items: flex-start;
  padding: var(--padding-81xl);
  box-sizing: border-box;
  gap: 120px;
}
.button34 {
  border-radius: var(--br-7xs);
  align-items: center;
  gap: var(--gap-7xs);
}
.buttons-container3,
.sub-container20 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttons-container3 {
  width: 392px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl);
}
.sub-container20 {
  flex-direction: column;
  gap: 40px;
}
.text-button8 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.buttons-container4 {
  align-self: stretch;
  gap: var(--gap-5xs);
  font-size: var(--font-size-lg);
  color: var(--grey-35);
}
.button37,
.buttons-container4,
.container51 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container51 {
  flex: 1;
  gap: var(--gap-sm);
}
.button37 {
  border-radius: var(--br-5xs);
  background-color: var(--white-97);
  border: 1px solid var(--white-95);
  padding: var(--padding-sm);
}
.buttons-container6 {
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.buttons-container6,
.container50,
.sub-container21 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.sub-container21 {
  width: 807px;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-xl);
}
.container50 {
  align-self: stretch;
  justify-content: space-between;
}
.text52 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  color: var(--grey-40);
  text-align: center;
}
.footer-section {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--absolute-white);
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-81xl) 162px var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  font-size: var(--font-size-lg);
}
.home-page-desktop {
  position: relative;
  background-color: var(--white-97);
  width: 100%;
  height: 10350px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--grey-15);
  font-family: var(--font-be-vietnam-pro);
}
